
header{
        width: 100%;

        section.fixed{
            @if $layout-width == 'fixed'{
                max-width: 1200px;
                margin: 0 auto;
            }@else{
                width: 100%;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #e1e1e1;
        } 

        .logo{
            width: 50px;
            height: 50px;
            background-color: #3eff62;
        }
        @import 'nav';
    }
