_nav.scss
nav{
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;

                    li{
                        width: 120px;
                        // height: 40px;
                        text-align: center;
                        margin: 0px 10px;
                        a{
                            text-decoration: none;
                            color: $fontBaseColor;
                            padding-bottom: 16px;
                            transition: all 0.3s ease;
                            &:hover{
                                color: $colorPrimary;
                                padding-bottom: 16px;
                                border-bottom: 2px solid $colorPrimary;
                            }
                            &::before{ // 偽元素
                                content: '>';
                            }
                        }
                    }
            }
        }
