
$colorPrimary: #0062ff; // 主要顏色
$fontBaseColor: #333; // 文字顏色
$bgColor: #f8ca66; // 背景顏色
_font.scss
$fontSize: 16px; // 數值
$lineHeight: 1.5; // 數值
$fontFamilyBase: 'Helvetica Neue',
Helvetica, 
Arial, 
sans-serif; // 主要字型 字串

