$spacingUnit: 8px 10px; // 間距單位 list
$darken: false; // 布林值/空值
$spacingUnit-null: 0; //空值
$w: null; // 版面寬度
$layout-width: 'full'; // 版面配置 固定/彈性 100 字串 'fixed/full' 
$fixed-width: 1366px; // 固定寬度

// 第一題
$a: 100px;
$a: 200px !default; // 改變權重 預設值

// 斷點變數
$tablet-breakpoint: 960px;
$mobile-breakpoint: 720px;